@model ProyectoFinalVoleibol.Models.Usuario
@{
    Layout = "_Layout";
}

<h2>Activar tu Cuenta</h2>

<section  class="listaT">
    <p>
        Ingresa el codigo que fue enviado a tu dirección de correo electronico registrada para activar tu cuenta.       
    </p>
    <form method="post" action="~/Home/ActivarCuenta">
        <label>Código:</label>
        <input type="number" required name="codigo"/><br />

        <input class="boton"  type="submit" value="Activa cuenta" />
    </form>
</section>

