@model ProyectoFinalVoleibol.Models.Directortecnico
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<main>
    <section >
        <h1>Dar de alta a un director técnico</h1>
        <form class="listaT" method="post" action="~/Home/AltaDirTecnicos" >
            <fieldset style="background-color:gray; opacity:.8; border-radius:20px; ">
                <label id="editar"><b>Clave del director técnico:</b></label>
                <br />
                <input type="text" asp-for="Clave" required />
                <br />
                <label id="editar"><b>Nombre completo:</b></label>
                <br />
                <input type="text" asp-for="Nombre" required />
                <br />
                <label id="editar"><b>Contraseña:</b></label>
                <br />
                <input type="password" asp-for="Contrasena" required />
                <br />
                <label id="editar"><b>Equipo:</b></label>
                <br />
                <input type="text" asp-for="Equipo" required />
                <br />
                <label id="editar"><b>Nacionales Ganados:</b></label>
                <br />
                <input type="number" asp-for="NacionalesGanados" required />
                <br />
                <label id="editar"><b>Nacionales Perdidos:</b></label>
                <br />
                <input type="number" asp-for="NacionalesPerdidos" required />
                <br />
                <label id="editar"><b>Internacionales Ganados:</b></label>
                <br />
                <input type="number" asp-for="InternacionalesGanados" required />
                <br />
                <label id="editar"><b>Internacionales Perdidos:</b></label>
                <br />
                <input type="number" asp-for="InternacionalesPerdidos" required />
                <br />
                <label id="editar"><b>Selección:</b></label>
                <br />
                <input type="text" asp-for="Seleccion" required />
                <br />
                <label id="editar"><b>Sala/Playero:</b></label>
                <br />
                <input type="text" asp-for="Tipo" required />
                <br />
            </fieldset>
                @Html.ValidationSummary()
                <input class="boton"  type="submit" value="Dar de alta" />
                <a href="~/Home/ListaDeDt"><b>Cancelar</b></a>
        </form>
       
    </section>

</main>