@model ProyectoFinalVoleibol.Models.Directortecnico
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<main>
    <section class="is">
        <h1 class="h2">Cambiar contraseña</h1>

        <label id="labels">Esta contraseña será asignada a: </label>
        <input id="txtdisplay" type="text" asp-for="Nombre" readonly />
        <form method="post" action="~/Home/CambiarClaveDt">

            <input type="hidden" asp-for="Id" />
            <br />
            <input type="password" asp-for="Contrasena" name="nuevaContra" placeholder="Nueva contraseña" required />
            <br />
            <input type="password" name="nuevaContraConfirm" placeholder="Confirmar contraseña" required />
            <br />
            @Html.ValidationSummary()
            <input class="boton"  type="submit" value="Cambiar" />

            <a href="~/Home/ListaDeDt"> <b>Cancelar </b></a>

        </form>
    </section>
</main>