
@{ Layout = "_Layout"; }

<h2>Voley4All</h2>

<section class="is">
    <h3>Configuración de la cuenta</h3>

    <p>Usuario conectado: @User.Claims.FirstOrDefault(x => x.Type == "Nombre Completo").Value</p>
    <p>Correo: @User.Claims.FirstOrDefault(x => x.Type == "Correo electronico").Value</p>


    @Html.ValidationSummary()
    <a href="~/Home/VentanaP">
        <input class="boton" type="button" value="Ver la pagina principal" />
    </a>
    <br />
    <a href="~/Home/CambiarContraseña">
        <input class="boton" type="button" value="Cambiar Contraseña" />
    </a>
    <br />
    <a href="~/Home/CerrarSesion">
        <input class="boton" type="button" value="Cerrar sesion" />
    </a>
    <br />
    <a href="javascript:eliminar()">
        <input class="boton" type="button" onclick="eliminar()" value="Dar de baja mi cuenta" />
    </a>
    <br />
</section>

<form method="post" action="~/Home/Eliminar">
    <input type="email" hidden name="correo" value="@User.Claims.FirstOrDefault(x => x.Type == "Correo electronico").Value" id="correoEliminar" />
</form>

<script>function eliminar() {
        if (confirm('Seguro que quieres eliminar tu cuenta?')) {
            document.querySelector("form").submit();
        }
    }</script>


