
@{ Layout = "_LayoutInicioS"; }



<div>
    <div class="contenido">
        <div class="v">
            <h2>Selecciona una opción</h2>
        </div>

        <div class="botones">
            <br />
            <form  method="post">
               
                <div>
                    <a href="~/Home/IniciarSesion"><b>Inicia sesión aqui</b></a>

                </div>
            </form>
            <br />
            <form method="post">
                <div>
                    <a href="~/Home/Registrar"><b>Registrate aqui</b></a>
                   
                </div>
            </form>

        </div>
    </div>
</div>
