
@{
    Layout = "_Layout";
}


<section class="is">
    <h2 class="h2">Recuperar contraseña</h2>

    <form method="post" action="~/Home/RecuperarContraseña">
        <label>Email:</label>
        <input type="email" required name="correo" /><br />
        <input class="boton" type="submit" value="Recuperar Contraseña" />
        @Html.ValidationSummary()
        <p>Te enviaremos un correo electronico para recuperar tu contraseña</p>
    </form>
</section>

