@model ProyectoFinalVoleibol.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }

<main>
    <form class="listaT" method="post" action="~/Home/Registrar" id="cuenta">
        
        <fieldset style="background-color:gray; opacity:.8; border-radius:20px;">
            <h4>Completa tus datos</h4>
            <legend style="font-size:20px">Crea una cuenta</legend>

            <label>Nombre:</label><br />
            <input class="b" type="text" required asp-for="NomUser" /><br />
            <label>Correo Electonico:</label><br />
            <input class="b" type="email" required asp-for="Correo" /><br />
            <label>Contraseña:</label><br />
            <input class="b" type="password" asp-for="Contraseña" name="Contraseña1" required /><br />
            <label>Confirmar contraseña:</label><br />
            <input class="b" type="password" name="Contraseña2" required />


        </fieldset>

        <label>@Html.ValidationSummary()</label>

        <div>
            <input class="boton" type="submit" value="Registrarme" />
        </div>
        <p>
            Ya tienes una cuenta?<br />
        </p>
        <p>
            <a href="IniciarSesion"><b>Inicia sesión aqui</b></a>
        </p>

    </form>
</main>