
@model IEnumerable<ProyectoFinalVoleibol.Models.ViewModels.DtVM>

@{ Layout = "_LayoutNav"; }
<body>
    <section class="listaT">
        <img src="~/images/logoV.png" width="1000" height="700" class="centrado" />
    </section>
    </body>
