
<html>
<head>
    <title>Registro de usuario</title>
    <link href="~/css/Estilos.css" rel="stylesheet">

</head>
<body>
    <header>
        <div align="center"><img src="~/images/logo4al.png" /> </div>
    </header>
    <section class="nav">
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>
                © 2021 All rights reserved | Design by Roberto, Luis Antonio y Carlos
            </p>
        </footer>
    </section>
    
</body>


</html>